/* (Global) Màu focus của input, editor */
input:focus
{
    color: rgb(0, 163, 199) !important;
}
a:active
{
    opacity: 0.5;
}
/*Màu nền cho Nút */
.greenButton
{
    background-color: green !important;
    color: white !important;
}
.darkredButton
{
    background-color: DarkRed !important; 
    color: white !important;
}
/*Nút ở màn hình chính*/
.mainButton
{
    width: 31%;
    height: 100px;
    border: none !important;
    background: none !important;
    font-size: medium;
}
.mainButton img
{
    width: 48px;
    height: 48px;
}
/*Nút ở cửa sổ popup (chiếm chiều ngang)*/
.popupButton
{
    display: block;
    text-align: center;
    margin: .6em .8em;
    font-size: 1.2em;
}
/*Nút ở các thanh công cụ*/
.barButton
{
    -webkit-border-radius: 5 !important;
    -moz-border-radius: 5 !important;
    border-radius: 5px !important;
    border-color: #ffffff !important;
    border-width: 2px !important;
    font-family: Arial;
    font-size: 16px;
    color: #00D8CC;
    background: #ffffff !important;
    text-decoration: none;
}
.barButton:active
{
    background: #00D8CC !important;
}

/*nội dung View */
.viewContent
{
    padding: 5px;
}
/*thanh công cụ trên đầu View */
.viewHeadBar
{
    border: solid 0px #000000;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #00D8CC;
    font-size: 33px;
    font-weight: bold;
    color: White;
    padding: 3px;
    height: 50px;
}
/* khung chứa View */
.viewContainer
{
    -moz-box-shadow: 10px 10px 5px #000000;
    -webkit-box-shadow: 10px 10px 5px #000000;
    box-shadow: 10px 10px 5px #000000;
    border: solid 1px #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: White;
}