#viewHome .km-content{
    background: #FFFFFF ;
    padding: 5px;
}

.mainButton img {
    width: 48px;
    height: 48px;
}

#login-submit,
#login-register {
    display: block;
    text-align: center;
    margin: .6em .8em;
    font-size: 1.2em;
}