<div id="viewDineIn" data-role="view" data-title="Thêm món" data-layout="layoutMain" data-init="listViewAreaInitAddItem">
    <ul data-role="listview">
        <li>
            <label>
                Khu
                <input id="dropdownAreaAddItem" />
            </label>
        </li>
        <li>
            <label>
                Nhập mã
                <input id="txtCodeAddItem" type="text" />
            </label>
        </li>
    </ul>

    <div id="tableGridAddItem">
    
    </div>
</div>