<!DOCTYPE html>
<html>
    <head>
        <title>EziMobile</title>
        <meta charset="utf-8" />
        <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
        <link href="styles/android.css" rel="stylesheet" />
        <link href="styles/ios.css" rel="stylesheet" />

        <script src="cordova.js"></script>
        <script src="kendo/js/jquery.min.js"></script>
        <script src="kendo/js/kendo.mobile.min.js"></script>

    </head>
    <body>
        <!-- Main Layout -->
        <div data-id="layoutMain" data-role="layout">
            <div data-role="header">
                <div data-role="navbar">
                    <span data-role="view-title">EziMobile</span>
                    <a data-rel="drawer" data-role="button" data-icon="more" data-align="right" href="#drawSide" data-transition="slide"></a>
                    <a data-role="backbutton" data-align="left">Back</a>
                </div>
            </div>

            <div data-role="footer">
                <div data-role="tabstrip">
                    <a data-icon="home" href="#viewHome">Home</a>
                    <a data-role="button" data-icon="settings" href="#settingsPopOver" data-rel="popover">Settings</a>
                    <a data-role="button" data-icon="globe">Notifications</a>
                    <a data-role="button" data-icon="contacts">Message</a>
                </div>
            </div>
        </div>

        <!-- TableInformation View -->
        <div id="viewDetailFood" data-role="view" data-layout="layoutMain" data-title="Chọn nhóm món">
            <div id="example" role="application">
                <div id="tshirt-view" class="demo-section k-header">
                    <img id="tshirt" src="styles/images/1.jpg" />
                    <div id="options">
                        <div id="description">
                            <h1 data-bind="text: current.name">Sashimi salad</h1>
                            <p data-bind="text: current.description">Organic greens topped with fresh sashimi, wasabi soy vinaigrette.</p>
                            <div id="details-total">
                                <p id="price-quantity" data-bind="text: price">$12.00</p>
                                <button class="buy" data-bind="click: addToCart">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Notification View -->
        <div id="viewNotification" data-role="view" data-layout="layoutMain" data-title="Notification">

        </div>
        <div id="message" data-role="view" data-layout="layoutMain" data-title="Message">

        </div>
    </body>
</html>
