<!-- TableInformation View -->
<div id="viewGetGroupFood" data-role="view" data-layout="layoutMain" data-title="Chọn nhóm món" data-show="viewTableGetFoodShow">
    <div>
        <label>Get Bàn</label>
        <input id="txtautoid" type="text">
    </div>
    <div id="example">

        <div id="listView"></div>
        <div id="pager" class="k-pager-wrap"></div>

        <script type="text/x-kendo-template" id="template">
            <div class="itemGroup">
                <img src="styles/images/1.jpg" alt="#: ITG_NAME # image" />
                <h3>#:ITG_NAME#</h3>
            </div>
        </script>
        <script>
            $(function() {
                var dataSource = new kendo.data.DataSource({
                                                               data: getFood,
                                                               pageSize: 5
                                                           });
                    
                $("#pager").kendoPager({
                                           dataSource: dataSource
                                       });
                    
                $("#listView").kendoListView({
                                                 dataSource: dataSource,
                                                 template: kendo.template($("#template").html())
                                             });
            });
            function viewTableGetFoodShow(e) {
                $("#txtautoid").val(e.view.params.autoid);
            }
        </script>

        <style scoped>
            .demo-section
            {
                width: 860px;
                margin: 20px auto;
                border: 0;
                background: none;
            }
            #listView
            {
                padding: 10px 5px;
                margin-bottom: -1px;
                min-height: 510px;
                background-color: White;
            }
            .itemGroup
            {
                float: left;
                position: relative;
                width: 111px;
                height: 170px;
                margin: 0 5px;
                padding: 0;
            }
            .itemGroup img
            {
                width: 110px;
                height: 110px;
            }
            .itemGroup h3
            {
                margin: 0;
                padding: 3px 5px 0 0;
                max-width: 96px;
                overflow: hidden;
                line-height: 1.1em;
                font-size: .9em;
                font-weight: normal;
                text-transform: uppercase;
                color: #999;
            }
            .itemGroup p
            {
                visibility: hidden;
            }
            .itemGroup:hover p
            {
                visibility: visible;
                position: absolute;
                width: 110px;
                height: 110px;
                top: 0;
                margin: 0;
                padding: 0;
                line-height: 110px;
                vertical-align: middle;
                text-align: center;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.75);
                transition: background .2s linear, color .2s linear;
                -moz-transition: background .2s linear, color .2s linear;
                -webkit-transition: background .2s linear, color .2s linear;
                -o-transition: background .2s linear, color .2s linear;
            }
            .k-listview:after
            {
                content: ".";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
            }
        </style>
    </div>
</div>
<!-- Notification View -->
<div id="viewNotification" data-role="view" data-layout="layoutMain" data-title="Notification">

</div>
<div id="message" data-role="view" data-layout="layoutMain" data-title="Message">

</div>

