<div id="viewOrderReview" data-role="view" data-title="Xem lại hóa đơn" data-layout="layoutMain" data-show="" data-init="">
    <div class="viewContent">
        <!-- TableInformation View -->
        <div class="headBar">
            <center>
                Bàn: <span id="tableID"></span>
            </center>
        </div>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>
                    Bill Code:
                    <input id="inputBillCode" type="text"/>
                </label>
            </li>
            <li>
                <label>
                    Create By:
                    <input id="inputCreateBy" type="text"/>
                </label>
            </li>
            <li>
                <label>
                    Time in:
                    <input id="inputTimeIn" type="text"/>
                </label>
            </li>
            <li>
                <label>
                    Print time:
                    <input id="inputPrintTime" type="text"/>
                </label>
            </li>
            <li>
                <label>
                    Customer:
                    <input id="inputCustomer" type="text"/>
                </label>
            </li>
        </ul>

    </div>
</div>