<div id="viewOrderReview" data-role="view" data-title="Xem phiếu" data-layout="layoutMain">
    <div class="viewContent">
        <!-- TableInformation View -->
        <div class="headBar">
            <center>
                Bàn: <span id="tableID"></span>
            </center>
        </div>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>
                    Phiếu:
                    <input id="inputBillCode" type="text"/>
                </label>
            </li>
            <li>
                <label>
                    Nhân viên lập:
                    <input id="inputCreateBy" type="text"/>
                </label>
            </li>
            <li>
                <label>
                    Giờ vào:
                    <input id="inputTimeIn" type="text"/>
                </label>
            </li>
            <li>
                <label>
                    Lần in:
                    <input id="inputPrintTime" type="text"/>
                </label>
            </li>
            <li>
                <label>
                    Khách hàng:
                    <input id="inputCustomer" type="text"/>
                </label>
            </li>
        </ul>
        <div>
            <label>
                SL
            </label>
            <label>
                Hàng bán
            </label>
            <label>
                Tiền hàng
            </label>
            <label>
                Đơn giá
            </label>
            <label>
                ĐVT
            </label>
            <label>
                Giảm giá
            </label>
            <label>
                VAT
            </label>
            <label>
                Hàng bán
            </label>
        </div>

        <div id="gridOrderView"></div>

        <script>
            $(document).ready(function () {
                $("#gridOrderView").kendoGrid({
                                                  dataSource: {
                        type: "odata",
                        transport: {
                                                              read: "http://demos.telerik.com/kendo-ui/service/Northwind.svc/Customers"
                                                          },
                        pageSize: 20
                    },
                                                  height: 550,
                                                  groupable: true,
                                                  sortable: true,
                                                  pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                                                  columns: [{
                                                              field: "ContactName",
                                                              title: "Contact Name",
                                                              width: 200
                                                          }, {
                                                              field: "ContactTitle",
                                                              title: "Contact Title"
                                                          }, {
                                                              field: "CompanyName",
                                                              title: "Company Name"
                                                          }, {
                                                              field: "Country",
                                                              width: 150
                                                          }
                    ]
                                              });
            });
        </script>
    </div>
</div>