<div id="viewTableInformation" data-role="view" data-title="Thông tin bàn" data-layout="layoutMain" data-show="viewTableInformationShow" data-init="viewTableInformationInit">
    <div class="viewContent">
        <!-- TableInformation View -->
        <div class="headBar">
            <center>
                Bàn: <span id="tableID"></span>
            </center>
        </div>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>
                    Số lượng khách
                    <input id="inputGuestQuantity" value="0" type="text" onclick="openModalViewGuestQuantity()"/>
                </label>
            </li>
            <li>
                <label>
                    Mã thẻ VIP
                    <input id="txtVipCode" type="text"/>
                </label>
            </li>
            <li>
                <label>
                    Nhóm Khách hàng
                    <input id="dropdownCustomerGroup"/>
                </label>
            </li>
        </ul>
        <center>
            <img src="styles/images/avatar.png" alt="" width="200" height="200">
        </center>
        <center>
            <!--<img src="styles/images/btn-ok.png" alt="" width="50" height="50">-->
            <button id="btnTableInformationSubmit" data-role="button" data-click="btnTableInformationSubmitClick">Continue</button>
        </center>
        <!-- Guest QUantity ModalView -->
        <div id="modalguestquantity" data-role="modalview" data-width="85%" data-height="290" data-modal="true">
            <div data-role="header">
                <div data-role="navbar">
                    <span>Chọn loại khách</span>

                </div>
            </div>

            <ul data-role="listview" >
                <li>
                    <label>
                        Nam
                        <input value="0" type="number" min="0" id="edtmale" onchange="guestQuantityOnChange()" />
                    </label>
                </li>
                <li>
                    <label>
                        Nữ
                        <input value="0" type="number" min="0" id="edtfemale" onchange="guestQuantityOnChange()" />
                    </label>
                </li>
                <li>
                    <label>
                        Trẻ em
                        <input value="0" type="number" min="0" id="edtchild" onchange="guestQuantityOnChange()"/>
                    </label>
                </li>
            </ul>
            <a data-role="button" class="popupButton" data-click="closeModalViewGuestQuantity">Đóng</a>

        </div>
    </div>
</div>
